/* 1: Body */
* {
  box-sizing: border-box; 
}
body {
  display: flex;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  margin: 0px;
  border: 0px;
  background-color: rgb(146, 170, 152);
  font-family: "Fredoka", sans-serif;
}
/* END OF BODY */



/* 2: Main Div Flexbox */
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, #main > aside {
  flex: 0 0 15vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  margin: 0;
  flex: 0.1;
  background: yellowgreen;
  display: block;
  text-align: center;
}
/* END OF MAIN DIV FLEXBOX */



/* 3: Navigation Bar Element */
nav {
  background-color: #393838;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
nav > ul {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  font-size: 36px;
}
nav > ul > li {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* END OF NAVIGATION BAR ELEMENT */





/* 4. Generic Anchor Tags & Links */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:#6d6d6d;
}

a:active {
  color: #b8b8b8;
}

/* Content Link Anchor Tag */
.content-link {
  color:rgb(164, 64, 49);
}
.content-link:hover {
  color: rgb(96, 37, 28);
}
/* END OF GENERIC ANCHOR TAGS & LINKS 



/* Lesson navigation class. Found at the bottom of each lesson in learning blog. */
.lesson-nav {
  text-align: center;
  padding-left: 0;
  list-style: none;
  margin: 1%;
  display: flex;  
  overflow: hidden;
}

.lesson-nav > li {  
  flex: 1;  
  color: #626F47;
}